# Node
node_modules/
node_modules_old/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Mobile legacy
mobile-app-legacy/

# Uploads
backend/uploads/



# Security
mom-and-me-app-firebase-adminsdk-fbsvc-94d80ea7ff.json
firebase_service_key_single_line.txt

